RAILS_ENV="{{ rack_env|default('production') }}"
RAILS_ROOT="/srv/{{rails_app_name}}/current"
## PID=$RAILS_ROOT/tmp/pids/unicorn.pid
## START_CMD="bundle exec unicorn_rails"
USER="gitlab_deploy"
## RESTART_SLEEP=5
## HANDLE_DELAYED_JOB=true
UNICORN_CONFIG="$RAILS_ROOT/config/unicorn.rb"
