---
{% if love_url is defined %}
love_url: "{{ love_url }}"
{% endif %}
{% if rails__contact_mail is defined %}
contact_mail: "{{ rails__contact_mail }}"
{% endif %}
ldap:
  main:
    label: {{ldap.label|default('Ldap')}}
    domain: {{ldap.domain}}
    resolve_host: true
    port: {{ldap.port}}
    uid: 'userPrincipalName'
    method: '{{ldap.method}}'
    bind_dn: '{{ldap.bind_dn}}'
    password: '{{ldap.bind_password}}'
    active_directory: true
    base: '{{ldap.base}}'
    onthefly_register: members
    attributes:
      username: ['userPrincipalName']
      email: ['mail', 'email']
      name: 'cn'
      first_name: 'givenName'
      last_name: 'sn'
{% for item in ( rails__ldap_additional_domains|default([]) ) -%}
  {{ item.key }}:
    label: '{{ item.label }}'
    domain: {{item.domain}}
    resolve_host: true
    port: {{item.port}}
    uid: 'userPrincipalName'
    method: '{{item.method}}'
    bind_dn: '{{item.bind_dn}}'
    password: '{{item.bind_password}}'
    active_directory: true
    base: '{{item.base}}'
    onthefly_register: members
    attributes:
      username: ['userPrincipalName']
      email: ['mail', 'email']
      name: 'cn'
      first_name: 'givenName'
      last_name: 'sn'
{%- endfor %}
{% if rails__ires is defined %}
ires:
  url: "{{ rails__ires.url }}"
  sign_cert_file: "{{ rails__ires.sign_cert_file }}"
  sign_cert_pkey_file: "{{ rails__ires.sign_pkey_file }}"
  sign_cert_pkey_password: "{{ rails__ires.sign_pkey_password }}"
{% endif %}
