default: &default
  adapter: postgresql
  encoding: unicode
  host: localhost
  pool: 5
  username: {{postgres_db_user}}

production:
  <<: *default
  database: {{postgres_db_name}}_production
  password: {{postgres_db_password}}

staging:
  <<: *default
  database: {{postgres_db_name}}_staging
  password: {{postgres_db_password}}
